* {
  padding: 0px;
  margin: 0px ;
}

body {
  font-family: 'Baloo Bhai', cursive;
  color: #0095DD;
  background-image: url("../img/backgroundimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 715px;
  width: 100vw;
  box-sizing: border-box;

}

header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color:white;
  font-size: 60px;
  border-bottom: 5px solid white;
}



.face-style {
  background-color: #0095DD;
}

canvas {
  background-color: white;
  position: absolute;
  z-index: -1;
}

.canvas-block {
  width: 720px;
  height: 480px;
  text-align:center;
}

.canvas-content {
  width: 100%;
  height: 100%;
  position: absolute;
}

p {
  font-size: 30px;
  margin : 50px auto;
}

.allfaces {
  display: flex; 
  justify-content: center;
  align-items:center;
}

.face-box{
  border : 2px solid #0095DD;
  width: 100px;
  height: 100px;
  margin: 0 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-box:hover{
  background-color: #0095DD;
}

#startBtn {
  height: 50px;
  width: 200px;
  margin-top:70px;
  border-radius: 25px;
  border: 2px solid #0095DD;
  font-family: 'Baloo Bhai', cursive;
  color: #0095DD;
  font-size: 15px;
}

#startBtn:hover{
  background-color: #0095DD;
  color: white;
}
